:root {
  --logo-font-sytle: "Inspiration", cursive;
  --primary-font-style: "Roboto", sans-serif;
  --primary-font-color: #22267b;
  --background-color: #fff6f6;
}

body {
  font-family: var(--primary-font-style);
  padding-bottom: 40px;
}
#navBar {
  position: fixed;
  width: 100%;
  padding-left: 50px;
}
.nav-item {
  padding-left: 40px;
}

#hero {
  margin-top: 75px;
  font-size: 50px;
  font-weight: 600;
  padding-top: 50px;
  max-width: 100%;
  color: var(--primary-font-color);
}

#brand {
  font-family: var(--logo-font-sytle);
  color: var(--primary-font-color);
  font-size: 56px;
}

#aboutText {
  margin: 20px 200px;
}

#welcomePics {
  margin-top: 50px;
}

#icon,
#emailButton {
  color: var(--primary-font-color);
}

@media (max-width: 420px) {
  #hero {
    font-size: 30px;
  }
  #aboutText {
    font-size: 15px;
    margin: 10px 25px;
    text-align: justify;
  }
}

#feedback {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 15px;
}

#evikorte {
  text-decoration: none;
  color: var(--primary-font-color);
  font-size: 10px;
  line-height: 50px;
}
