:root {
  --logo-font-sytle: "Inspiration", cursive;
  --primary-font-style: "Roboto", sans-serif;
  --primary-font-color: #22267b;
  --background-color: #fff6f6;
}

body {
  font-family: var(--primary-font-style);
}

#homepageBody {
  background-image: url("../images/zenhouse.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#navBar {
  position: fixed;
  width: 100%;
  padding-left: 50px;
  z-index: 99999;
}
.nav-item {
  padding-left: 40px;
  font-size: 20px;
}

#hero,
#welcomeTitle {
  margin-top: 75px;
  font-size: 50px;
  font-weight: 600;
  padding-top: 50px;
  max-width: 100%;
  color: var(--primary-font-color);
}

#welcomeTitle {
  text-shadow: 2px 2px var(--primary-font-color);
  margin-bottom: 60px;
}

#welcome {
  text-shadow: 2px 2px var(--primary-font-color);
  margin-bottom: 150px;
  font-size: 25px;
}
#copyrightWelcome {
  text-shadow: 1px 1px whitesmoke;
}

#brand {
  font-family: var(--logo-font-sytle);
  color: var(--primary-font-color);
  font-size: 56px;
}

#welcomePics {
  margin-top: 50px;
}

#icon,
#emailButton {
  color: var(--primary-font-color);
  text-shadow: 1px 1px white;
}

#aboutText {
  font-size: 20px;
  margin: 25px 50px;
}

#feedback {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 15px;
}

#evikorte {
  text-decoration: none;
  color: var(--primary-font-color);
  font-size: 10px;
  line-height: 50px;
}

@media (max-width: 670px) {
  #welcomeTitle {
    font-size: 30px;
  }
  #welcome {
    font-size: 20px;
    text-align: justify;
    margin: 10px 20px 0px 20px;
  }
  #aboutText {
    font-size: 15px;
    margin: 10px 20px;
  }
}
