:root {
  --logo-font-sytle: "Inspiration", cursive;
  --primary-font-style: "Roboto", sans-serif;
  --primary-font-color: #22267b;
  --background-color: #fff6f6;
}

body {
  font-family: var(--primary-font-style);
}

#homepageBody {
  background-image: url("../images/zenhouse.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#servicesBody {
  background-image: url("../images/fontain3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#navBar {
  position: fixed;
  width: 100%;
  padding-left: 50px;
  z-index: 99999;
  margin-bottom: 20px;
}
.nav-item {
  padding-left: 40px;
  font-size: 20px;
}

#hero,
#welcomeTitle {
  margin-top: 90px;
  font-size: 50px;
  font-weight: 600;
  padding-top: 25px;
  max-width: 100%;
  color: var(--primary-font-color);
  text-shadow: 1px 1px whitesmoke;
}
#headLine {
  color: var(--primary-font-color);
}

#welcomeTitle {
  text-shadow: 2px 2px var(--primary-font-color);
  margin-bottom: 50px;
}

#welcome {
  text-shadow: 2px 2px var(--primary-font-color);
  margin-bottom: 150px;
  font-size: 25px;
}
#copyrightWelcome,
#copyrightService {
  text-shadow: 1px 1px whitesmoke;
  padding-bottom: 50px;
}

#brand {
  font-family: var(--logo-font-sytle);
  color: var(--primary-font-color);
  font-size: 56px;
}

#welcomePics {
  margin-top: 50px;
}

#icon,
#emailButton {
  color: var(--primary-font-color);
  text-shadow: 1px 1px whitesmoke;
  margin-top: 100px;
}

#aboutText {
  font-size: 20px;
  margin: 25px 50px;
}

#feedback {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 15px;
  margin: 20px;
}

#servicesUl {
  color: whitesmoke;
  text-shadow: 1px 1px var(--primary-font-color);
}
#evikorte {
  text-decoration: none;
  color: var(--primary-font-color);
  font-size: 10px;
  line-height: 50px;
}

@media (max-width: 670px) {
  #welcomeTitle {
    font-size: 30px;
  }
  #welcome {
    font-size: 20px;
    text-align: justify;
    margin: 20px 20px;
  }
  #copyrightWelcome {
    padding-bottom: 50px;
  }
  #hero {
    font-size: 30px;
  }
  #aboutText {
    font-size: 15px;
    margin: 10px 20px;
  }
}
